version: '3.7'
services:
  postgres:
    image: postgres
    container_name: "postgres"
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    ports:
      - '5438:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data